# This file may be used to create an environment using:
# $ conda create ==name <env> ==file <this file>
# platform: osx==64
py -m pip install -r requirements.txt
blas
bottleneck
ca-certificates
certifi
freetype
giflib
intel-openmp
joblib
jpeg
lcms2
libcxx
libffi
libgfortran
libpng
libtiff
libwebp
libwebp-base
llvm-openmp
lz4-c
mkl
mkl-service
mkl_fft
mkl_random
ncurses
numexpr
numpy
numpy-base
openssl
packaging
pandas
pillow
pip
pyparsing
python==3.9.7
python-dateutil
pytz
readline
scikit-learn
scipy
setuptools
six
sqlite
threadpoolctl
tk
tzdata
wheel
xz
zlib
zstd
torch
torchvision